<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    {% load static %}
    <!-- Compressed CSS -->
    <link rel="icon" type="image/x-icon" href='{% static "/backupgui/images/favicon.ico" %}'>

    <title>Edit a File Set</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'backupgui:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'backupgui:file_storag_sets' %}">File & Storage Sets</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit a File Set</li>
        </ol>
    </nav>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'backupgui:updateFileSet' singlefileset.ID %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>ID : {{ singlefileset.ID }} - File Set Name</h1></legend>
            <label for="fset">If required, enter a new File set name: </label>
            <input type="text" name="filesetname" id="fset"
                   value="{{ singlefileset.FileSetName }}"><br>
        </fieldset>
        <fieldset>
            <legend><h1>Includes</h1></legend>
            <label for="incl">If required, update the included files or directories: </label>
            <textarea name="includes" id="incl" rows="10" cols="60">{{ singlefileset.Includes }}</textarea><br>
        </fieldset>
        <fieldset>
            <legend><h1>Excludes</h1></legend>
            <label for="excl">If required, update the excluded files or directories: </label>
            <textarea name="excludes" id="excl" rows="10" cols="60">{{ singlefileset.Excludes }}</textarea><br>
        </fieldset>
        <fieldset>
            <legend><h1>Recursive</h1></legend>
            <legend>Recurse through the child directories?</legend>
            <input type="radio" name="recursive" id="R1" value=True checked>
            <label for="R1">"True"</label><br>
            <input type="radio" name="recursive" id="R2" value=False>
            <label for="R2">"False"</label><br>
        </fieldset>
        <fieldset>
            <legend><h1>Compress</h1></legend>
            <legend>Compress this file set?</legend>
            <input type="radio" name="compress" id="C1" value=True checked>
            <label for="C1">"True"</label><br>
            <input type="radio" name="compress" id="C2" value=False>
            <label for="C2">"False"</label><br>
        </fieldset>
        <input type="submit" name="save" value="Save">
        <input type="submit" name="delete" value="Delete">
        <input type="submit" name="cancel" value="Cancel" />
    </form>
    <br>
    <a href="{% url 'backupgui:file_storag_sets' %}">Return to File & Storage Sets</a><br>
    <a href="{% url 'backupgui:index' %}">Return Home</a>

    <script>
    $(document).ready(function() {
        $(document).foundation();
        }
    )
    </script>
</body>
</html>
